/* Including styles files */
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/slick-carousel/slick/slick.css);
@import url(../../libs/mdi/css/materialdesignicons.css);
@import url(../../libs/nanoScrollerJs/nanoScrollerJs.css);
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.eot");
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.woff2") format("woff2"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.woff") format("woff"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.ttf") format("truetype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-300.svg#RobotoSlab") format("svg"); }

/* roboto-slab-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.eot");
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.woff2") format("woff2"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.woff") format("woff"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.ttf") format("truetype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-regular.svg#RobotoSlab") format("svg"); }

/* roboto-slab-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.eot");
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.woff2") format("woff2"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.woff") format("woff"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.ttf") format("truetype"), url("../../fonts/Roboto Slab/roboto-slab-v7-cyrillic_latin-700.svg#RobotoSlab") format("svg"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.woff") format("woff"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-regular.svg#Roboto") format("svg"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.woff") format("woff"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v18-cyrillic_latin-700.svg#Roboto") format("svg"); }

/* Grid */
.case {
  position: relative;
  width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.no-wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #131313;
  background: white; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #131313;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

u {
  text-decoration: none; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

/* Form elements */
.input {
  position: relative; }
  .input__wrap {
    display: block;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    background: white;
    width: 100%;
    border: 1px solid #bfbfbf;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px; }
  .input__text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 12px;
    padding-left: 3px;
    padding-right: 5px; }

.textarea {
  position: relative; }
  .textarea__wrap {
    display: block;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    background: white;
    width: 100%;
    border: 1px solid #bfbfbf;
    height: 50px;
    height: 134px;
    resize: none;
    padding: 14px 15px; }
  .textarea__text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 12px;
    padding-left: 3px;
    padding-right: 5px; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn_brown {
    background-color: #531010;
    color: #fff; }
  .btn_img-bg {
    height: 50px;
    padding-left: 32px;
    padding-right: 32px;
    background: url("../../img/monogram-small-left.png") no-repeat left center, url("../../img/monogram-small-right.png") no-repeat right center;
    border: 1px solid #bfbfbf; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

input, .btn, .slick-slide, textarea {
  outline: none !important; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.main-wrap {
  background: url("../../img/bg.png"); }

.panel {
  z-index: 1;
  position: relative; }
  .panel__wrap {
    padding-top: 11px;
    font-size: 20px;
    padding-left: 52px;
    padding-right: 52px;
    background: url("../../img/monogram-big-left.png") left 17px no-repeat, url("../../img/monogram-big-right.png") right 17px no-repeat; }
  .panel__data {
    padding-top: 15px;
    width: 505px;
    margin-right: 23px; }
  .panel__desc {
    margin-bottom: 15px; }
  .panel__phones {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px; }
    .panel__phones a {
      color: #531010; }
  .panel__time {
    margin-right: 25px; }
  .panel__logo {
    width: 175px;
    margin-right: 27px; }
    .panel__logo img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .panel__phones {
    padding-top: 12px;
    width: 215px; }
  .panel__links {
    margin-left: auto;
    width: 215px;
    padding-top: 14px;
    font-size: 18px; }
    .panel__links .mdi {
      color: #6e3e3e;
      margin-right: 8px; }
    .panel__links li {
      margin-bottom: 2px; }
    .panel__links a {
      border-color: none; }
      .panel__links a:hover {
        color: #6e3e3e;
        border-color: #6e3e3e; }
    .panel__links u {
      display: inline-block;
      vertical-align: middle; }

.slider {
  position: relative;
  background: url("../../img/slider.png") no-repeat center;
  margin-top: -65px; }
  .slider:before, .slider:after {
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    height: 7px;
    background: url("../../img/pattern-top.png") repeat-x center top; }
  .slider:before {
    top: 0; }
  .slider:after {
    bottom: 0; }
  .slider__nav {
    display: none; }
  .slider__wrap {
    position: absolute;
    width: 640px;
    background: rgba(255, 255, 255, 0.65);
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    padding: 7px 5px 10px; }
    .slider__wrap:before, .slider__wrap:after {
      content: '';
      background: rgba(255, 255, 255, 0.65);
      width: 420px;
      height: 10px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .slider__wrap:before {
      top: -10px; }
    .slider__wrap:after {
      bottom: -10px; }
  .slider__list .slick-slide {
    height: 400px;
    position: relative; }
  .slider__title {
    font-size: 36px;
    font-weight: 700; }
    .slider__title:after {
      display: block;
      content: '';
      width: 172px;
      height: 4px;
      background-color: #fff;
      margin: 10px auto 8px; }
  .slider__desc {
    font-size: 19px;
    font-weight: 700;
    font-family: "Roboto", sans-serif; }

.nav {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #bfbfbf;
  background-color: #fff; }
  .nav ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nav ul ul {
      opacity: 0;
      z-index: 2;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: -1px;
      right: -1px;
      border: 1px solid #bfbfbf;
      background-color: #ffffff;
      -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
              box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
      -webkit-transform: translateY(50px);
          -ms-transform: translateY(50px);
              transform: translateY(50px);
      -webkit-transition: .3s;
      transition: .3s;
      text-align: left;
      padding: 14px 20px 13px;
      width: 332px; }
      .nav ul ul li {
        width: 100%;
        position: relative;
        padding-left: 13px;
        margin-bottom: 3px; }
        .nav ul ul li:before {
          content: '-';
          margin-right: 5px;
          position: absolute;
          top: 0;
          left: 0; }
        .nav ul ul li:hover a {
          color: #531010;
          border-color: #531010;
          left: 15px; }
        .nav ul ul li:last-of-type {
          margin-bottom: 0; }
      .nav ul ul a {
        font-size: 16px;
        border-color: transparent;
        color: #131313;
        left: 0;
        position: relative; }
  .nav a {
    color: #531010; }
  .nav__home a {
    color: #fff;
    background-color: #531010;
    font-size: 0;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center; }
    .nav__home a .mdi {
      font-size: 15px;
      position: relative;
      left: 1px; }
  .nav__list {
    width: -webkit-calc(100% - 20px - 100px);
    width: calc(100% - 20px - 100px); }
    .nav__list > ul {
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .nav__list > ul > li {
        position: relative;
        display: block;
        border-left: 1px solid #d9d9d9;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to top, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%); }
        .nav__list > ul > li:hover ul {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateY(0px);
              -ms-transform: translateY(0px);
                  transform: translateY(0px); }
        .nav__list > ul > li:hover a {
          background-color: transparent; }
        .nav__list > ul > li:last-of-type {
          border-right: 1px solid #d9d9d9; }
        .nav__list > ul > li.has-subnav > a:after {
          content: '\f140';
          position: absolute;
          font-family: "Material Design Icons";
          bottom: -2px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
        .nav__list > ul > li > a {
          position: relative;
          padding: 19px 10px;
          display: block;
          background-color: #fff; }
  .nav__control {
    width: 100px;
    text-align: right; }
    .nav__control li {
      width: 100%; }
    .nav__control u {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-size: 15px;
      text-align: center;
      margin-right: 8px;
      line-height: 22px;
      -webkit-transition: .3s;
      transition: .3s; }
    .nav__control a {
      font-weight: 700;
      color: #1a1a1a; }
      .nav__control a:hover u {
        background-color: #ebebeb; }
    .nav__control .count, .nav__control .mdi {
      color: #531010; }
  .nav__sub-nav {
    z-index: 4;
    opacity: 0;
    position: absolute;
    top: 100%;
    border: 1px solid #bfbfbf;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: left;
    padding: 32px 0 38px;
    left: 45px;
    right: 0;
    padding-right: 22px; }
    .nav__sub-nav_show {
      opacity: 1;
      z-index: 4;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      visibility: visible; }
    .nav__sub-nav:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 103px;
      width: 24px;
      height: 11px;
      background: url("../../img/arrow-top.png") no-repeat center; }
    .nav__sub-nav-col {
      width: 25%;
      border-right: 1px solid #ebebeb;
      padding-left: 20px;
      padding-right: 5px; }
      .nav__sub-nav-col:last-of-type {
        border-right: none; }
      .nav__sub-nav-col p {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        color: #531010;
        margin-bottom: 3px; }
      .nav__sub-nav-col ul {
        margin-bottom: 25px; }
        .nav__sub-nav-col ul:last-of-type {
          margin-bottom: 0; }
      .nav__sub-nav-col li {
        width: 100%;
        position: relative;
        padding-left: 13px;
        margin-bottom: 3px; }
        .nav__sub-nav-col li:last-of-type {
          margin-bottom: 0; }
        .nav__sub-nav-col li:before {
          content: '-';
          margin-right: 5px;
          position: absolute;
          top: 0;
          left: 0; }
        .nav__sub-nav-col li:hover a {
          color: #531010;
          border-color: #531010;
          left: 15px; }
      .nav__sub-nav-col a {
        left: 0;
        position: relative;
        color: #131313;
        font-size: 16px; }
  .nav .nano {
    height: 345px; }
    .nav .nano > .nano-pane {
      background-color: #b7b7b7;
      width: 4px;
      right: 10px;
      -webkit-border-radius: 0;
              border-radius: 0; }
      .nav .nano > .nano-pane > .nano-slider {
        background-color: #531010;
        -webkit-border-radius: 0;
                border-radius: 0;
        margin: 0;
        margin-left: -2px;
        margin-right: -2px;
        width: auto;
        position: relative; }
  .nav .show-large-nav_show {
    position: relative;
    display: block;
    border-left: 1px solid #d9d9d9;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to top, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%); }
    .nav .show-large-nav_show a {
      background-color: transparent; }

.text-top {
  padding-top: 54px;
  padding-bottom: 45px; }

.text {
  font-family: "Roboto", sans-serif; }
  .text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
    color: #531010;
    font-family: "Roboto Slab", serif; }
  .text h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .text p {
    margin-bottom: 20px; }
    .text p:last-of-type {
      margin-bottom: 0; }
  .text ul.discount {
    margin-top: 45px; }
    .text ul.discount li {
      width: -webkit-calc(33.333% - 14px);
      width: calc(33.333% - 14px);
      height: 52px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #531010;
      background-color: #fff; }
      .text ul.discount li:nth-of-type(2) {
        margin-left: 21px;
        margin-right: 21px; }

.main-title {
  padding-top: 38px;
  font-size: 24px;
  font-weight: 700;
  color: #531010; }

.breadcrumbs {
  padding-top: 11px;
  font-size: 0;
  margin-bottom: 18px; }
  .breadcrumbs li {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px; }
    .breadcrumbs li:after {
      color: #531010;
      content: '\f142';
      font-family: "Material Design Icons";
      font-weight: 400;
      margin-left: 4px;
      margin-right: 4px; }
    .breadcrumbs li:last-of-type:after {
      display: none; }
  .breadcrumbs a {
    font-weight: 400; }
    .breadcrumbs a:hover {
      color: #531010;
      border-color: #531010; }

.aside {
  width: 350px; }
  .aside_bg {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px 15px; }

.section {
  width: -webkit-calc(100% - 350px);
  width: calc(100% - 350px);
  padding-left: 40px; }

.search {
  position: relative; }
  .search__input {
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: 1px solid #bfbfbf;
    width: 100%;
    padding: 0 60px 0 15px;
    font-weight: 400; }
    .search__input::-webkit-input-placeholder {
      opacity: 1;
      color: #7e7e7e; }
    .search__input::-moz-placeholder {
      opacity: 1;
      color: #7e7e7e; }
    .search__input:-ms-input-placeholder {
      opacity: 1;
      color: #7e7e7e; }
    .search__input::placeholder {
      opacity: 1;
      color: #7e7e7e; }
  .search__btn {
    width: 50px;
    height: 34px;
    position: absolute;
    top: 3px;
    right: 3px; }
    .search__btn .mdi {
      color: #fff;
      font-size: 26px; }

.nav-block__wrap {
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px; }
  .nav-block__wrap:last-of-type {
    padding-bottom: 50px;
    border-bottom: none; }

.nav-block__title {
  font-size: 18px;
  font-weight: 700;
  color: #531010;
  margin-bottom: 5px; }

.nav-block__list {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px; }
  .nav-block__list li {
    position: relative;
    font-size: 17px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
    margin-bottom: 4px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px; }
    .nav-block__list li:last-of-type {
      margin-bottom: 0; }
    .nav-block__list li:before {
      top: 10px;
      left: 0;
      position: absolute;
      display: block;
      content: '';
      width: 7px;
      height: 3px;
      background: #531010;
      -webkit-border-radius: 20px;
              border-radius: 20px; }
    .nav-block__list li:after {
      position: absolute;
      content: '';
      top: 8px;
      left: 8px;
      width: 7px;
      height: 7px;
      background: #531010;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .nav-block__list li.has-subnav {
      cursor: pointer;
      background-position: 100% 0; }
      .nav-block__list li.has-subnav:hover {
        background-image: -webkit-gradient(linear, right top, left top, from(#f2f2f2), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to left, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%); }
        .nav-block__list li.has-subnav:hover ul {
          opacity: 1;
          position: absolute;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0);
          visibility: visible; }
      .nav-block__list li.has-subnav .arrow-right {
        position: absolute;
        right: 0;
        top: -1px;
        position: absolute; }
        .nav-block__list li.has-subnav .arrow-right:after {
          display: block;
          content: '\f142';
          font-family: "Material Design Icons";
          color: #531010;
          font-size: 20px; }
      .nav-block__list li.has-subnav ul {
        z-index: 2;
        width: 255px;
        background-color: #fff;
        right: -255px;
        position: absolute;
        top: -15px;
        border: 1px solid #bfbfbf;
        padding: 14px 20px 14px;
        -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
                transform: translateX(50px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s; }
        .nav-block__list li.has-subnav ul:after {
          content: '';
          position: absolute;
          top: 13px;
          left: -2px;
          width: 11px;
          height: 24px;
          background: url("../../img/arrow-left.png") no-repeat center; }
        .nav-block__list li.has-subnav ul li:hover {
          cursor: default; }
          .nav-block__list li.has-subnav ul li:hover a {
            cursor: pointer; }
      .nav-block__list li.has-subnav li {
        font-size: 16px; }
        .nav-block__list li.has-subnav li:hover a {
          left: 15px; }
        .nav-block__list li.has-subnav li:before {
          display: none; }
        .nav-block__list li.has-subnav li:after {
          content: '-';
          width: auto;
          height: auto;
          background: none;
          top: 0; }
        .nav-block__list li.has-subnav li a {
          position: relative;
          left: 0; }
    .nav-block__list li a:hover {
      color: #531010;
      border-color: #531010; }

.catalog__filter {
  margin-left: -15px;
  margin-right: -15px; }

.catalog__select {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px; }

.catalog__list {
  margin-left: -15px;
  margin-right: -15px; }
  .catalog__list_pt {
    padding-top: 12px; }

.catalog__item {
  width: -webkit-calc(33.33% - 30px);
  width: calc(33.33% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  border: 1px solid #e3c3bd; }

.item {
  position: relative;
  display: block; }
  .item__control-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    top: 4px;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #fff;
    font-size: 18px;
    color: #531010;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .item__control-item:nth-of-type(1) {
      left: 5px; }
    .item__control-item:nth-of-type(2) {
      right: 5px; }
  .item__img {
    position: relative; }
    .item__img:after {
      content: '';
      border: 1px solid #ffffff;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 14px; }
  .item__text {
    font-size: 18px;
    height: 65px;
    padding: 5px 15px;
    text-align: center;
    font-weight: 700; }
    .item__text a {
      color: #531010; }
      .item__text a:hover {
        border-color: #531010; }

.jq-selectbox {
  z-index: 2;
  position: relative;
  font-family: "Roboto", sans-serif; }
  .jq-selectbox__select {
    position: relative;
    border: 1px solid #e3c3bd;
    background-color: #ffffff;
    padding: 0;
    font-size: 18px;
    height: 52px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .jq-selectbox__select-text {
      padding-left: 12px;
      padding-right: 25px; }
  .jq-selectbox__trigger {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5.5px 0 5.5px;
    border-color: #131313 transparent transparent transparent; }
  .jq-selectbox__dropdown {
    border: 1px solid #e3c3bd;
    background-color: #fff;
    font-size: 16px;
    padding: 10px 12px;
    position: absolute;
    top: 51px;
    left: 0;
    right: 0; }
    .jq-selectbox__dropdown li {
      width: 100%;
      margin-bottom: 5px;
      cursor: pointer; }
      .jq-selectbox__dropdown li:last-of-type {
        margin-bottom: 0; }
      .jq-selectbox__dropdown li:hover {
        color: #531010; }
  .jq-selectbox .select {
    display: none; }

.pagination ul {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 700;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pagination li:after {
  content: ', ';
  margin-right: 6px; }

.pagination li.selected a {
  color: #531010;
  border-color: #531010; }

.pagination li a:hover {
  color: #531010;
  border-color: #531010; }

.pagination li.prev:after, .pagination li.next:after, .pagination li:nth-last-of-type(2):after, .pagination li.dots:after {
  display: none; }

.pagination li.dots {
  margin-right: 5px; }

.pagination li.prev, .pagination li.next {
  position: relative;
  top: -2px; }
  .pagination li.prev a, .pagination li.next a {
    border: 2px solid #fffcf9;
    background-color: #531010;
    display: block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0; }
    .pagination li.prev a:after, .pagination li.next a:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid; }

.pagination li.prev {
  margin-right: 20px;
  font-size: 0; }
  .pagination li.prev a:after {
    border-width: 5px 6px 5px 0;
    border-color: transparent #ffffff transparent transparent; }

.pagination li.next {
  margin-left: 20px; }
  .pagination li.next a:after {
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #ffffff; }

.mt65 {
  margin-top: 65px; }

.form__wrap {
  position: relative;
  background-color: #ffffff;
  padding: 20px 20px 20px 40px;
  border: 1px solid #bfbfbf; }
  .form__wrap:before, .form__wrap:after {
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    height: 7px;
    background: url("../../img/pattern-top.png") repeat-x center top; }
  .form__wrap:before {
    top: -1px; }
  .form__wrap:after {
    bottom: -1px; }

.form__title {
  font-size: 20px;
  font-weight: 700;
  color: #531010;
  margin-bottom: 6px; }

.form__text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 35px;
  color: #1a1a1a; }

.form__input {
  margin-bottom: 34px; }

.form__desc {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 16px;
  font-size: 16px; }
  .form__desc .mdi {
    color: #6e3e3e;
    margin-left: 4px;
    margin-right: 4px; }

.form__left {
  width: 260px; }

.form__mid {
  margin-left: 35px;
  margin-right: 35px;
  width: -webkit-calc(100% - 304px - 70px - 260px);
  width: calc(100% - 304px - 70px - 260px); }

.form__right {
  width: 304px; }

.form__captcha {
  margin-bottom: 6px; }

.form__btn {
  width: 100%;
  margin-right: 10px; }

.card__3d {
  display: block;
  z-index: 1;
  position: relative;
  width: 335px;
  height: 40px;
  border: 1px solid #e3c3bd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #531010;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px; }
  .card__3d .mdi {
    font-size: 24px;
    position: relative;
    top: 1px;
    margin-right: 5px; }
  .card__3d:hover {
    color: #fff;
    background-color: #531010;
    border-color: #531010; }

.card__image {
  border: 1px solid #e3c3bd; }
  .card__images {
    padding-left: 53px;
    padding-right: 53px;
    margin-top: -54px; }
    .card__images .slick-current .card__images-item img {
      border-color: #531010; }
    .card__images-item {
      padding-left: 7px;
      padding-right: 7px;
      cursor: pointer; }
      .card__images-item img {
        -webkit-transition: .3s;
        transition: .3s;
        border: 2px solid #f1e1de; }
    .card__images .slick-arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 30px;
      height: 60px;
      border: 1px solid #e3c3bd;
      background-color: #ffffff;
      font-size: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: .3s;
      transition: .3s; }
    .card__images .slick-prev {
      left: 15px; }
      .card__images .slick-prev:before {
        display: block;
        content: '\f141';
        font-size: 34px;
        color: #000000;
        font-family: "Material Design Icons"; }
    .card__images .slick-next {
      right: 15px; }
      .card__images .slick-next:before {
        display: block;
        content: '\f142';
        font-size: 34px;
        color: #000000;
        font-family: "Material Design Icons"; }
    .card__images .slick-arrow:hover {
      border-color: #531010; }

.card__left {
  width: 440px; }

.card__right {
  width: -webkit-calc(100% - 440px);
  width: calc(100% - 440px);
  padding-left: 35px;
  font-family: "Roboto", sans-serif; }

.card__vendor-code {
  margin-bottom: 20px; }

.vendor-code {
  font-size: 24px;
  font-weight: 700;
  color: #531010; }
  .vendor-code span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #6e6e6e; }

.slick-arrow {
  z-index: 10;
  cursor: pointer; }

.arrows-white .slick-arrow {
  width: 45px;
  height: 45px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 0; }

.arrows-white .slick-prev:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7px 6.5px 0;
  border-color: transparent #531010 transparent transparent;
  -webkit-transition: .3s;
  transition: .3s; }

.arrows-white .slick-next:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 7px;
  border-color: transparent transparent transparent #531010;
  -webkit-transition: .3s;
  transition: .3s; }

.arrows-middle .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.arrows-middle .slick-prev {
  left: 50%;
  margin-left: -670px; }

.arrows-middle .slick-next {
  right: 50%;
  margin-right: -670px; }

.hidden-lg {
  display: none; }
